/*Overall container*/

.container {
	width: 90%;
	margin: auto;
}

p {
	font-size: 1.2em;
	font-family: "'Source Sans Pro', sans-serif' ";
	text-align: justify;
}

.date {
	text-align: center;
	margin-top: 0.5em;
	margin-left: 0;
	margin-right: 0;
	font-style: italic;
	color: #0074D9;
	font-family: "'Source Sans Pro', sans-serif'";
}


/* Navigation */


/*Navbar as a whole*/
.nav {
	background-image: url(https://res.cloudinary.com/counterpoint-services/image/upload/c_scale,o_42,w_984/v1505646107/photo_b0s6jw.jpg);
	/*background-image: url("ceiling.png");*/
	margin: auto;
	width: 100%;
	/*margin-bottom: 20em;*/
	/*position: fixed;
  right: 0;
  left: 0;*/
}

/*Jane Goes digital elements*/

.title {
	color:purple;
	font-family: "Trebuchet MS";
	font-size: 3em;
	margin-bottom: 0.6em;
	margin-top: 0em;
	padding-top: 0.5em;
	text-align: center;
}


.line {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
	width: 50%;
	color: white;
}

.line a {
	text-decoration: none;
	color:purple;
}

.title:hover {
	text-decoration: underline;
}

/*Menu item elements*/

.nav_list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: purple;
}

.menu_item {
	float: left;
	border-right: 1px solid #bbb
}

.menu_item a {
    display: block;
    color: white;
    text-align: center;
    padding: 1.5em 2em;
    text-decoration: none;
}

.menu_item a:hover {
		background-color: #0074D9;
}



/*Home page*/
.home_body {
	margin-top: 2em;
	border-top: solid;
	border-color: #0074D9;
}


.home_page {
	margin: auto;
	min-height: 10em;
	width: 80%;
	text-align: center;
}

.home_row {
	margin-top: 2em;
	/*background-color: orange;*/
}





.home_text {
	font-size: 1.2em;
	font-family: "'Source Sans Pro', sans-serif' ";
}

.signature {
	font-family: "Dancing Script", cursive;
	font-size: 1.7em;
	color: #0074D9;
	font-weight: bold;
	margin-top: 0.2em;
	margin-left: 0;
	margin-right:0;
	text-align: left;
	padding-right: 4em;
	/*width: 80%;*/
}



.read {

	text-align: center;
	padding-top: 0.2em;
	/*padding-bottom: 1em;*/
	margin: 1em;
}


.read a {
	color: #0074D9;
	font-family: "Trebuchet MS";
	font-size: 1.2;
	text-decoration: none;
}

.read a:hover {
	border-bottom: solid;
}

/*.more_buttons {
	margin: auto;
	width: 50%;
}*/


.more_box {
	text-align: center;
	background-color: #0074D9;
	min-height: 4em;
	margin:auto;
	margin-bottom: 4em;
}

.share_button_post {
	padding-right: 2em;
	margin-bottom: 2em;
}


.share_button_centre {
	margin: auto;
	width: 100%;
	margin-left: 40%;
}

.footer .signature {
	color:white;
	text-align: center;
	padding-left: 3em;
	margin-top: 1em;
}

.footer p {
color: white;
text-align: left;
padding-left: 3em;
}

.footer a {
	text-align: left;
	color: white;
	text-decoration: none;
	margin: auto;
	padding-left: 0em;
}


.home_blog {
	float: left;
	width: 45%;
	display: inline-block;
	margin-right: 1.5em;
	margin-left: 1.5em;
	min-width: 20%;

}


.home_blog .callout_small {
	font-size: 1em;
}

/*.home_row {
	margin: auto;
}*/


.short_form {
/*width: 85%;*/
padding: 1em;
padding-top: 0em;
margin-top: 1em;
margin-right: 2em;
margin-bottom: 2em;
border-top: solid #0074D9;
background-image: url(https://res.cloudinary.com/counterpoint-services/image/upload/c_scale,o_14,w_802,z_1.5/v1505646389/IMG_6188_rhc9yt.jpg);
 opacity: 15%;
}

.callout_home {
	font-size: 1.2em;
	margin: auto;
	padding: 1.5em;
	font-family: cursive;
	border-top: solid;
	border-bottom: solid;
	/*min-height: 8em;*/
	font-family: "'Source Sans Pro', sans-serif' ";
	width: 100%;
	color: #0074D9;
};



/*Back button and heading in same line*/

.previous {
    background-color: #0074D9;
    color: white;
}

a.previous {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
		margin-top: 0.5em;
		margin-bottom: 2em;
		background-color: #0074D9;
		color:white;
}

a.previous:hover{
    background-color: purple;
    color: white;
}


/*List of posts*/
/*Left hand list of blog items*/

.blog_menu {
	margin-top: 3em;

}

.blog_menu h1 {
	width: 80%;
	text-align: left;
	margin-bottom: 0.5em;
  border-top: solid #0074D9;
	margin-left: 0;
}

.blog_list {
	list-style: none;
	margin: 0;
  padding: 0;
	color: blue;
	width: 80%;
}

.blog_item a {
		color:#0074D9;
    display: block;
    text-align: left;
		padding-top: 0.8em;
		padding-bottom: 0.8em;
    text-decoration: none;
		font-size: 1em;
}

.blog_item a:hover {
	/*border-bottom: solid;*/
	background-color: #0074D9;
	color: white;
	opacity: 0.5;
	padding-left: 3em;
}

/*List of all blog posts */

.article_list{
	margin-top: 1em;
}

.blog_menu {
	margin-top: 2em;
}

h1, h2 {
	text-align: center;
	font-family: "Trebuchet MS";
	/*font-family: "'Source Sans Pro', sans-serif' ";*/
	color: #0074D9;
	font-size: 2.5em;
	margin: auto;
	padding-top: 0.5em;
	padding-left: 0;
	/*background-color: green;*/
}

h1 a {
	color: #0074D9;
	text-decoration: none;
}

h1 a:hover {
	border-bottom: solid;
}

h2 {
	font-size: 1.75em;
}



.callout_blog_list{
	font-size: 1.4em;
	margin: auto;
	padding: 1em;
	border-top: solid;
	border-bottom: solid;
	font-family: "'Source Sans Pro', sans-serif' ";
	color: #0074D9;
	width: 70%;

}
/*Actual blog post*/


/*This is for the blog post page - to get the text under the line*/

.long_form {
	background-color:
	color: #0074D9;

	margin-left: auto;
	margin-right: auto;
	display: inline-block;
	padding-left: 5%;
	padding-right: 5%;
}

.long_form h1 {
	padding-top: 0.5em;
	border-top: solid;
	/*margin-top: 1.5em;*/
	margin-left: 0;
	margin-right: 0;
	padding-left: 0em;
	/*text-align: left;*/
}

.callout_post {
	font-size: 1.4em;
	margin: auto;
	padding: 1em;
	font-family: cursive;
	border-top: solid;
	border-bottom: solid;
	font-family: "'Source Sans Pro', sans-serif' ";
	color: #0074D9;
	width: 70%;

}

.callout p {
	color: #0074D9;
	font-size: 1.2em;
	margin: auto;
	width: 60%;
	font-style: italic;
	border-top: solid;
	border-bottom: solid;
	font-family: "'Source Sans Pro', sans-serif' ";
	width: 80%;
	color: #0074D9;
	background-color: red;
}

.callout_small {
	color: #0074D9;
	/*font-size: 2em;*/
	width: 60%;
}



.article_list {
	float: right;
}


/*
p {
	text-align: center;
	font-family:"'Source Sans Pro', sans-serif' ";
	font-size: 1.2em;
}*/



/*Grid */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}



.col {
  float: left;
  /*min-height: 100px;*/
  /*border: 10px solid black;*/
  /*background: gainsboro;*/
  -webkit-transition: background 1s;
  -moz-transition: background 1s;
  -ms-transition: background 1s;
  -o-transition: background 1s;
  transition: background 1s;
}

/*One unit = 1/12*/

/*2 units =2/12*/

.col-2 {
  width: 16.666666666%; /* fallback */
  width: -webkit-calc(100% / 6);
  width: -moz-calc(100% / 6);
  width: -ms-calc(100% / 6);
  width: -o-calc(100% / 6);
  width: calc(100% / 6);
}

/**/
/*//3 = 3/12 ie 1/4*/
.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.333333333%;
  width: -webkit-calc(100% / 3);
  width: -moz-calc(100% / 3);
  width: -ms-calc(100% / 3);
  width: -o-calc(100% / 3);
  width: calc(100% / 3);
}

.col-6 {
  width: 50%;
}

.col-8 {
  width: 75%;
}



.col-12 {
  width: 100%;
}

/*For small screens*/

@media (max-width: 760px) { /* sm- */
  .col {
    /*background: hotpink;*/
  }
  .sm-col-4 {
    width: 33.333333333%;
    width: -webkit-calc(100% / 3);
    width: -moz-calc(100% / 3);
    width: -ms-calc(100% / 3);
    width: -o-calc(100% / 3);
    width: calc(100% / 3);
  }
  .sm-col-6 {
    width: 50%;
  }
  .sm-col-12 {
    width: 100%;
  }



	.long_form {
		width: 90%;
		/*margin: auto;*/
		margin-top: 10em;
	}


	h1 {
		font-size:1.5em;
	}

	h2 {
		font-size: 1.2em;
	}


	.long_form h1 {
		font-size: 1.5em;

	}


	.title {
		font-size: 1.5em;
	}
	.menu_item a {
	    padding: 1.1em 1.4em;
	    text-decoration: none;
	}

	.short_form {
		margin-right:1em;
		/*width: 100%;*/
	}

.blog_list {
	width:100%;
}



	.blog_menu h1 {
		text-align: center;
		width: 100%;
	}

.blog_item {
	margin: auto;
	width: 100%;
}


	.blog_item a {
	    text-align: center;
			padding-top: 0.5em;
			padding-bottom: 0.5em;
			width: 100%;
			margin: auto;
			/*text-decoration: underline;*/
	}

	.blog_item a:hover {
		background-color: #0074D9;
		padding-top: 0.5em;
		padding-bottom: 0.5em;
		width: 75%;
		padding-left: 0em;
	}

	.callout_blog_list, .callout_post {
		width: 95%;
		font-size: 1.2em;
	}

	.long_form {
		margin-top: 0.2em;
	}

	.share_button_centre {
		margin: auto;
}


@media (max-width: 960px) and (min-width: 761px) { /* md- */
  .col {
    /*background: chartreuse;*/
  }
  .md-col-4 {
    width: 33.333333333%;
    width: -webkit-calc(100% / 3);
    width: -moz-calc(100% / 3);
    width: -ms-calc(100% / 3);
    width: -o-calc(100% / 3);
    width: calc(100% / 3);
  }
  .md-col-6 {
    width: 50%;
  }
  .md-col-12 {
    width: 100%;
  }


	.blog_menu h1 {
		text-align: center;
		width: 100%;
	}


.blog_list {
	width: 100%;
}

	.blog_item {
		margin: auto;
		width: 100%;
	}


	.blog_item a {
	    text-align: center;
			padding-top: 0.5em;
			padding-bottom: 0.5em;
			width: 50%;
			margin: auto;

	}

	.blog_item a:hover {
		background-color: #0074D9;
		padding-left: 0em;
		padding-top: 0.5em;
		padding-bottom: 0.5em;
	}


	.centre_buttons {
		background-color: pink;
		margin: auto;
		margin-left: 40%;
		margin-right: 40%;
		float:left;
	}

	.share_button_centre {
		margin: auto;
	}

}
/* DESKTOP VIEW */
@media (max-width: 1200px) and (min-width: 961px) { /* lg- */
  .col {
    /*background: lemonchiffon;*/
  }
  .lg-col-4 {
    width: 33.333333333%;
    width: -webkit-calc(100% / 3);
    width: -moz-calc(100% / 3);
    width: -ms-calc(100% / 3);
    width: -o-calc(100% / 3);
    width: calc(100% / 3);
  }
  .lg-col-6 {
    width: 50%;
  }
  .lg-col-12 {
    width: 100%;
  }
}
